<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd">
  <a href="/" class="navbar-brand"> Twitter Search </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item"><a href="/busqueda" class="nav-link"> Busqueda </a></li>
      <li class="nav-item"><a href="/historial" class="nav-link"> Historial </a></li>
    </ul>
  </div>
</nav>